@import url("https://fonts.googleapis.com/css?family=Original+Surfer|Press+Start+2P|Sarpanch&display=swap");

:root {
    --fontOriginalSurfer: "Original Surfer", sans-serif, cursive;
    --fontPressStart: "Press Start 2P", sans-serif, cursive;
    --fontSarpanch: "Sarpanch", sans-serif;
    --green: 0, 128, 0;
    --red: 255, 0, 0;
    --blue: 0, 0, 255;
    --yellow: 255, 255, 0;
    --white: 255, 255, 255;
    --lightGrey: 211, 211, 211;
    --grey: 128, 128, 128;
    --doveGrey: 109, 108, 108;
    --tundora: 74, 66, 68;
    --mineShaft: 50, 50, 50;
    --codGrey: 11, 11, 11;
    --black: 0, 0, 0;
    --size: 90vw;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(var(--black), 0);
    -webkit-tap-highlight-color: transparent;
    font-family: var(--fontOriginalSurfer);
}

body {
    background-color: rgba(var(--black), 1);
}

#outer-circle {
    /* background-color: rgba(var(--black), 1); */
    /* border: calc(var(--size) / 50) solid rgba(var(--black), 1); */
    /* border: calc(var(--size) / 50) solid rgba(var(--white), 1); */
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    position: relative;
    margin: calc((100vh - var(--size)) / 2) auto;
}


#btn-green,
#btn-red,
#btn-blue,
#btn-yellow {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    height: calc(var(--size) / 2);
    width: calc(var(--size) / 2);
    box-sizing: border-box;
    cursor: pointer;
    /* border: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1); */
    animation: fadeIn 1s forwards;
    overflow: hidden;
    transition: all 0.05s ease-in-out;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#btn-green::before,
#btn-red::before,
#btn-blue::before,
#btn-yellow::before {
    position: absolute;
    font-size: 10vw;
	text-shadow: -1px -1px 1px rgba(var(--white), 1), 1px 1px 1px rgba(var(--black), 1);
    opacity: 0;
    font-family: var(--fontPressStart);
}

#btn-green::after,
#btn-red::after,
#btn-blue::after,
#btn-yellow::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at 50% 0px, rgba(var(--white), 0.5), rgba(var(--white), 0) 58%);
    filter: blur(5px);
    z-index: 5;
    overflow: hidden;
}

#btn-green.active,
#btn-red.active,
#btn-blue.active,
#btn-yellow.active {
    transform: scale(0.95);
    z-index: 0;
    border-color: transparent;
}

#btn-green {
    border-radius: calc(var(--size) / 2) 0 0 0;
    border-bottom: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    border-right: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    margin: calc((var(--size) / 2) * -1) 0 0 calc((var(--size) / 2) * -1);
    animation-delay: 0.5s;
    background-color: rgba(var(--green), 1);
    background: linear-gradient(135deg,
        rgba(var(--green), 0.6) 0%,
        rgba(var(--green), 0.8) 50%,
        rgba(var(--green), 1) 50%,
        rgba(var(--white), 1) 100%);
}

#btn-green::before {
    content: "G";
    left: 30%;
    top: 30%;
    color: rgba(var(--green), 1);
    transform: rotate(-45deg);
    animation: greenText 1s forwards;
    animation-delay: 3.5s;
}

@keyframes greenText {
    0% {opacity: 0; transform: rotate(-45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(-45deg) scale(1);}
}

#btn-green::after {
    transform: rotate(-150deg);
    top: 10%;
    left: 10%;
    animation: greenLoad 0.5s forwards;
    animation-delay: 1.5s;
}

@keyframes greenLoad {
    0% {transform: rotate(-150deg);}
    90% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg);}
}

#btn-green.active {
    box-shadow: 0 0 50px rgba(var(--green), 1);
}

#btn-red {
    border-radius: 0 calc(var(--size) / 2) 0 0;
    border-left: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    border-bottom: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    margin: calc((var(--size) / 2) * -1) 0 0 0;
    animation-delay: 0.75s;
    background-color: rgba(var(--red), 1);
    background: linear-gradient(45deg,
        rgba(var(--white), 1) 0%,
        rgba(var(--red), 1) 50%,
        rgba(var(--red), 0.8) 50%,
        rgba(var(--red), 0.6) 100%);
}

#btn-red::before {
    content: "R";
    right: 30%;
    top: 30%;
    color: rgba(var(--red), 1);
    transform: rotate(-45deg);
    animation: redText 1s forwards;
    animation-delay: 3.75s;
}

@keyframes redText {
    0% {opacity: 0; transform: rotate(45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(45deg) scale(1);}
}

#btn-red::after {
    transform: rotate(-45deg);
    top: 10%;
    right: 10%;
    animation: redLoad 0.5s forwards;
    animation-delay: 1.75s;
}

@keyframes redLoad {
    0% {transform: rotate(-70deg);}
    90% {transform: rotate(80deg);}
    100% {transform: rotate(35deg);}
}

#btn-red.active {
    box-shadow: 0 0 50px rgba(var(--red), 1);
}

#btn-blue {
    border-radius: 0 0 calc(var(--size) / 2) 0;
    border-top: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    border-left: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    margin: 0 0 calc((var(--size) / 2) * -1) 0;
    animation-delay: 1s;
    background-color: rgba(var(--blue), 1);
    background: linear-gradient(135deg,
        rgba(var(--white), 1) 0%,
        rgba(var(--blue), 1) 50%,
        rgba(var(--blue), 0.8) 50%,
        rgba(var(--blue), 0.6) 100%);
}

#btn-blue::before {
    content: "B";
    right: 25%;
    bottom: 30%;
    color: rgba(var(--blue), 1);
    transform: rotate(-45deg);
    animation: blueText 1s forwards;
    animation-delay: 4s;
}

@keyframes blueText {
    0% {opacity: 0; transform: rotate(-45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(-45deg) scale(1);}
}

#btn-blue::after {
    transform: rotate(30deg);
    bottom: 10%;
    right: 10%;
    animation: blueLoad 0.5s forwards;
    animation-delay: 2s;
}

@keyframes blueLoad {
    0% {transform: rotate(30deg);}
    90% {transform: rotate(180deg);}
    100% {transform: rotate(135deg);}
}

#btn-blue.active {
    box-shadow: 0 0 50px rgba(var(--blue), 1);
}

#btn-yellow {
    border-radius: 0 0 0 calc(var(--size) / 2);
    border-top: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    border-right: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    margin: 0 calc((var(--size) / 2) * -1) 0 calc((var(--size) / 2) * -1);
    animation-delay: 1.25s;
    background-color: rgba(var(--yellow), 1);
    background: linear-gradient(45deg,
        rgba(var(--yellow), 0.6) 0%,
        rgba(var(--yellow), 0.8) 50%,
        rgba(var(--yellow), 1) 50%,
        rgba(var(--white), 1) 100%);
}

#btn-yellow::before {
    content: "Y";
    left: 25%;
    bottom: 30%;
    color: rgba(var(--yellow), 1);
    transform: rotate(45deg);
    animation: yellowText 1s forwards;
    animation-delay: 4.25s;
}

@keyframes yellowText {
    0% {opacity: 0; transform: rotate(45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(45deg) scale(1);}
}

#btn-yellow::after {
    transform: rotate(-240deg);
    bottom: 10%;
    left: 10%;
    animation: yellowLoad 0.5s forwards;
    animation-delay: 2.25s;
}

@keyframes yellowLoad {
    0% {transform: rotate(-240deg);}
    90% {transform: rotate(-90deg);}
    100% {transform: rotate(-135deg);}
}

#btn-yellow.active {
    box-shadow: 0 0 50px rgba(var(--yellow), 1);
}

#inner-circle {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    height: calc(var(--size) / 1.5);
    width: calc(var(--size) / 1.5);
    margin: calc((var(--size) / 3) * -1) 0 0 calc((var(--size) / 3) * -1);
    /* height: calc(var(--size) / 2); */
    /* width: calc(var(--size) / 2); */
    /* margin: calc((var(--size) / 4) * -1) 0 0 calc((var(--size) / 4) * -1); */
    background: radial-gradient(ellipse at center,
            rgba(var(--black), 1) 15%,
            rgba(var(--white), 1) 16%,
            rgba(var(--white), 1) 49%,
            rgba(var(--codGrey), 1) 50%,
            rgba(var(--mineShaft), 1) 51%,
            rgba(var(--black), 1) 60%,
            rgba(var(--doveGrey), 1) 61%,
            rgba(var(--mineShaft), 1) 62%,
            rgba(var(--tundora), 1) 75%,
            rgba(var(--doveGrey), 1) 95%,
            rgba(var(--tundora), 1) 100%);
    border-radius: 50%;
    /* border: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1); */
    box-sizing: border-box;
    transform: scale(0);
    animation: zoomIn 1s forwards;
    animation-delay: 2.5s;
}

@keyframes zoomIn {
    0% {transform: scale(0);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
}

#title {
    position: absolute;
    top: 17%;
    left: 17.5%;
    width: 65%;
    height: 32%;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--black), 1);
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

#title::after {
    content: "SIMON";
    font-size: 8vw;
    position: absolute;
    top: 20%;
    margin: 0 19%;
    text-align: center;
    font-family: var(--fontSarpanch);
    text-shadow:
        -3px -3px 0 rgba(var(--black), 1),
        3px -3px 0 rgba(var(--black), 1),
        -3px 3px 0 rgba(var(--black), 1),
        3px 3px 0 rgba(var(--black), 1),
        4px 4px 0 rgba(var(--white), 1);
}

#title-sub::after {
    content: "MEMORY GAME";
    position: absolute;
    top: 70%;
    left: 15.5%;
    letter-spacing: 1vw;
    font-size: 2.5vw;
    font-family: var(--fontSarpanch);
    text-shadow:
        -2px -2px 0 rgba(var(--black), 1),
        2px -2px 0 rgba(var(--black), 1),
        -2px 2px 0 rgba(var(--black), 1),
        2px 2px 0 rgba(var(--black), 1),
        2px 2px 0 rgba(var(--white), 1);
}

.toggle {
    margin: inherit 20px;
}

.button {
    border-radius: 50%;
    font-size: 1.5em;
    background-color: rgba(var(--lightGrey), 1);
}

#switches {
    position: absolute;
    margin-top: 110px;
    margin-left: 26px;
}

#turn span {
    position: absolute;
    margin-top: 197px;
    margin-left: 83px;
}

@media (min-width: 600px) {
    :root {--size: 90vh;}
    #title::after {font-size: 3em;}
    #title-sub::after {font-size: 1em; letter-spacing: 4px; top: 65%; left: 19%;}
    #btn-green::before, #btn-red::before, #btn-blue::before, #btn-yellow::before {font-size: 4em;}
}
