/* ----- IMPORTS ----- */
@import url("https://fonts.googleapis.com/css?family=Original+Surfer|Press+Start+2P|Quantico|Sarpanch&display=swap");

/* ----- :ROOT VARS ----- */
:root {
    --fontOriginalSurfer: "Original Surfer", sans-serif;
    --fontPressStart: "Press Start 2P", sans-serif, cursive;
    --fontSarpanch: "Sarpanch", sans-serif;
    --fontQuantico: "Quantico", sans-serif;
    --green: 0, 128, 0;
    --red: 255, 0, 0;
    --blue: 0, 0, 255;
    --yellow: 255, 255, 0;
    --white: 255, 255, 255;
    --lightGrey: 211, 211, 211;
    --grey: 128, 128, 128;
    --doveGrey: 109, 108, 108;
    --tundora: 74, 66, 68;
    --mineShaft: 50, 50, 50;
    --codGrey: 11, 11, 11;
    --black: 0, 0, 0;
    --size: 90vw;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(var(--black), 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgba(var(--black), 1);
    overflow: hidden;
    font-family: var(--fontOriginalSurfer);
}

*::selection {background-color: transparent;}

/* ----- OUTER CIRCLE ----- */
#outer-circle {
    /* background-color: rgba(var(--black), 1); */
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    position: relative;
    margin: calc((100vh - var(--size)) / 2) auto;
    animation: spin 2s ease-in-out;
}

@keyframes spin {
    0% {transform: rotate(2160deg);}
    100% {transform: rotate(0);}
}

/* ----- BUTTONS | GREEN / RED / BLUE / YELLOW ----- */
#greenButton,
#redButton,
#blueButton,
#yellowButton {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: calc(var(--size) / 2);
    width: calc(var(--size) / 2);
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 1s forwards;
    overflow: hidden;
    transition: all 0.05s ease-in-out;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#greenButton::before,
#redButton::before,
#blueButton::before,
#yellowButton::before {
    position: absolute;
    font-size: 10vw;
	text-shadow: -1px -1px 1px rgba(var(--white), 1), 1px 1px 1px rgba(var(--black), 1);
    opacity: 0;
    font-family: var(--fontPressStart);
}

#greenButton::after,
#redButton::after,
#blueButton::after,
#yellowButton::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at 50% 0px, rgba(var(--white), 0.5), rgba(var(--white), 0) 58%);
    filter: blur(5px);
    z-index: 5;
    overflow: hidden;
}

#greenButton.active,
#redButton.active,
#blueButton.active,
#yellowButton.active {
    transform: scale(0.95);
    z-index: 0;
    border-color: transparent;
}

/* ----- GREEN ----- */
#greenButton {
    border-radius: calc(var(--size) / 2) 0 0 0;
    border-bottom: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    border-right: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    margin: calc((var(--size) / 2) * -1) 0 0 calc((var(--size) / 2) * -1);
    animation-delay: 0.5s;
    background-color: rgba(var(--green), 1);
    background: linear-gradient(135deg,
        rgba(var(--green), 0.6) 0%,
        rgba(var(--green), 0.8) 50%,
        rgba(var(--green), 1) 50%,
        rgba(var(--white), 1) 100%);
}

#greenButton::before {
    content: "G";
    left: 30%;
    top: 30%;
    color: rgba(var(--green), 1);
    transform: rotate(-45deg);
    animation: greenText 1s forwards;
    animation-delay: 3.5s;
}

@keyframes greenText {
    0% {opacity: 0; transform: rotate(-45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(-45deg) scale(1);}
}

#greenButton::after {
    transform: rotate(-150deg);
    top: 10%;
    left: 10%;
    animation: greenLoad 0.5s forwards;
    animation-delay: 1.5s;
}

@keyframes greenLoad {
    0% {transform: rotate(-150deg);}
    90% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg);}
}

#greenButton.active {
    box-shadow: 0 0 50px rgba(var(--green), 1);
}

/* ----- RED ----- */
#redButton {
    border-radius: 0 calc(var(--size) / 2) 0 0;
    border-left: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    border-bottom: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    margin: calc((var(--size) / 2) * -1) 0 0 0;
    animation-delay: 0.75s;
    background-color: rgba(var(--red), 1);
    background: linear-gradient(45deg,
        rgba(var(--white), 1) 0%,
        rgba(var(--red), 1) 50%,
        rgba(var(--red), 0.8) 50%,
        rgba(var(--red), 0.6) 100%);
}

#redButton::before {
    content: "R";
    right: 30%;
    top: 30%;
    color: rgba(var(--red), 1);
    transform: rotate(-45deg);
    animation: redText 1s forwards;
    animation-delay: 3.75s;
}

@keyframes redText {
    0% {opacity: 0; transform: rotate(45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(45deg) scale(1);}
}

#redButton::after {
    transform: rotate(-45deg);
    top: 10%;
    right: 10%;
    animation: redLoad 0.5s forwards;
    animation-delay: 1.75s;
}

@keyframes redLoad {
    0% {transform: rotate(-70deg);}
    90% {transform: rotate(80deg);}
    100% {transform: rotate(35deg);}
}

#redButton.active {
    box-shadow: 0 0 50px rgba(var(--red), 1);
}

/* ----- BLUE ----- */
#blueButton {
    border-radius: 0 0 calc(var(--size) / 2) 0;
    border-top: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    border-left: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    margin: 0 0 calc((var(--size) / 2) * -1) 0;
    animation-delay: 1s;
    background-color: rgba(var(--blue), 1);
    background: linear-gradient(135deg,
        rgba(var(--white), 1) 0%,
        rgba(var(--blue), 1) 50%,
        rgba(var(--blue), 0.8) 50%,
        rgba(var(--blue), 0.6) 100%);
}

#blueButton::before {
    content: "B";
    right: 25%;
    bottom: 30%;
    color: rgba(var(--blue), 1);
    transform: rotate(-45deg);
    animation: blueText 1s forwards;
    animation-delay: 4s;
}

@keyframes blueText {
    0% {opacity: 0; transform: rotate(-45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(-45deg) scale(1);}
}

#blueButton::after {
    transform: rotate(30deg);
    bottom: 10%;
    right: 10%;
    animation: blueLoad 0.5s forwards;
    animation-delay: 2s;
}

@keyframes blueLoad {
    0% {transform: rotate(30deg);}
    90% {transform: rotate(180deg);}
    100% {transform: rotate(135deg);}
}

#blueButton.active {
    box-shadow: 0 0 50px rgba(var(--blue), 1);
}

/* ----- YELLOW ----- */
#yellowButton {
    border-radius: 0 0 0 calc(var(--size) / 2);
    border-top: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    border-right: calc((var(--size) / 50) / 1.5) solid rgba(var(--black), 1);
    margin: 0 calc((var(--size) / 2) * -1) 0 calc((var(--size) / 2) * -1);
    animation-delay: 1.25s;
    background-color: rgba(var(--yellow), 1);
    background: linear-gradient(45deg,
        rgba(var(--yellow), 0.6) 0%,
        rgba(var(--yellow), 0.8) 50%,
        rgba(var(--yellow), 1) 50%,
        rgba(var(--white), 1) 100%);
}

#yellowButton::before {
    content: "Y";
    left: 25%;
    bottom: 30%;
    color: rgba(var(--yellow), 1);
    transform: rotate(45deg);
    animation: yellowText 1s forwards;
    animation-delay: 4.25s;
}

@keyframes yellowText {
    0% {opacity: 0; transform: rotate(45deg) scale(0.5);}
    100% {opacity: 0.75; transform: rotate(45deg) scale(1);}
}

#yellowButton::after {
    transform: rotate(-240deg);
    bottom: 10%;
    left: 10%;
    animation: yellowLoad 0.5s forwards;
    animation-delay: 2.25s;
}

@keyframes yellowLoad {
    0% {transform: rotate(-240deg);}
    90% {transform: rotate(-90deg);}
    100% {transform: rotate(-135deg);}
}

#yellowButton.active {
    box-shadow: 0 0 50px rgba(var(--yellow), 1);
}

/* ----- INNER CIRCLE ----- */
#inner-circle {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    height: calc(var(--size) / 1.5);
    width: calc(var(--size) / 1.5);
    margin: calc((var(--size) / 3) * -1) 0 0 calc((var(--size) / 3) * -1);
    background: radial-gradient(ellipse at center,
            rgba(var(--black), 1) 15%,
            rgba(var(--white), 1) 16%,
            rgba(var(--white), 1) 49%,
            rgba(var(--codGrey), 1) 50%,
            rgba(var(--mineShaft), 1) 51%,
            rgba(var(--black), 1) 60%,
            rgba(var(--doveGrey), 1) 61%,
            rgba(var(--mineShaft), 1) 62%,
            rgba(var(--tundora), 1) 75%,
            rgba(var(--doveGrey), 1) 95%,
            rgba(var(--tundora), 1) 100%);
    border-radius: 50%;
    border: calc((var(--size) / 50) / 2) solid rgba(var(--black), 1);
    box-sizing: border-box;
    transform: scale(0);
    animation: zoomIn 1s forwards;
    animation-delay: 2.5s;
}

@keyframes zoomIn {
    0% {transform: scale(0);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
}


/* ----- GAME LOGO ----- */
#simon {
    position: absolute;
    top: 17%;
    left: 17.5%;
    width: 65%;
    height: 32%;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--black), 1);
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

#simon::after {
    content: "SIMON";
    font-size: 8vw;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: var(--fontSarpanch);
    text-shadow:
        -3px -3px 0 rgba(var(--black), 1),
        3px -3px 0 rgba(var(--black), 1),
        -3px 3px 0 rgba(var(--black), 1),
        3px 3px 0 rgba(var(--black), 1),
        4px 4px 0 rgba(var(--white), 1);
}

#memoryGame::after {
    content: "MEMORY GAME";
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    letter-spacing: 1vw;
    font-size: 2.5vw;
    font-family: var(--fontSarpanch);
    text-shadow:
        -2px -2px 0 rgba(var(--black), 1),
        2px -2px 0 rgba(var(--black), 1),
        -2px 2px 0 rgba(var(--black), 1),
        2px 2px 0 rgba(var(--black), 1),
        2px 2px 0 rgba(var(--white), 1);
}

/* ----- BUTTONS | START + STRICT ----- */
.checkbox-round {
    position: absolute;
    top: calc(50% + 0.25em);
    font-size: 0.75em;
    font-weight: bold;
}

.checkbox-round label {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    border: 2px solid rgba(var(--black), 1);
    border-radius: 50%;
    /* cursor: pointer; */
    transition: all 0.2s ease-in-out;
}

.checkbox-round label::after {
    content: "";
    position: absolute;
    left: -3%;
    top: -3%;
    height: 90%;
    width: 90%;
    opacity: 1;
    border-radius: 100%;
    border: 1px rgba(var(--white), 1) outset;
    box-shadow: 2px 2px 7px 0 rgba(var(--black), 1);
}

.checkbox-round input[type="checkbox"] {visibility: hidden;}
.checkbox-round input[type="checkbox"]:checked+label::after {opacity: 1;}

/* ----- START ----- */
.startButton {left: 27%;}
.startButton::after {content: "START"; position: absolute; left: -15px; bottom: -15px;}
.startButton label {
    background: radial-gradient(circle at 0.25em 0.25em, rgba(var(--yellow), 1), rgba(var(--black), 1));
}
#startButton:checked+label {
    background: rgba(var(--yellow), 1);
    box-shadow: 0 0 20px 5px rgba(var(--yellow), 1);
}

/* ----- STRICT ----- */
.checkbox-round.strict {right: 27%;}
.strict::after {content: "STRICT"; position: absolute; left: -15px; bottom: -15px;}
.checkbox-round.strict label {
    background: radial-gradient(circle at 0.25em 0.25em, rgba(var(--red), 1), rgba(var(--black), 1));
}
.checkbox-round.strict input[type="checkbox"]:checked+label {
    background: rgba(var(--red), 1);
    box-shadow: 0 0 20px 5px rgba(var(--red), 1);
}

/* ----- POWER BUTTON ----- */
.powerButton {
    position: absolute;
    display: inline-block;
    bottom: 25%;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    margin: 0 calc((var(--size) / 2.75) - 45px);
}

.powerButton input {opacity: 0; width: 0; height: 0;}
.powerOff {position: absolute; top: 10%; left: -30px;}
.powerOff::after {content: "OFF";}
.powerOn {position: absolute; top: 10%; left: 57px;}
.powerOn::after {content: "ON";}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background-color: rgba(var(--red), 0.75);
    transition: all 0.5s ease-in-out;
}

.slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(var(--red), 1);
    background: radial-gradient(circle at 0.25em 0.25em, rgba(var(--red), 1), rgba(var(--black), 1));
    border: 1px rgba(var(--white), 1) outset;
    box-shadow: 2px 2px 7px 0 rgba(var(--black), 1);
    transition: all 0.5s ease-in-out;
}

input:checked+.slider {background-color: rgba(var(--green), 0.75);}
input:checked+.slider::before {
    background-color: rgba(var(--green), 1);
    background: radial-gradient(circle at 0.25em 0.25em, rgba(var(--green), 1), rgba(var(--black), 1));
}
input:checked+.slider::before {transform: translateX(29px);}

.slider.round {
    border-radius: 25px;
    padding: 2px;
    width: 50px;
    height: 20px;
    box-shadow: inset 1px 1px 3px 0 rgba(var(--grey), 1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.slider.round::before {border-radius: 50%;}

/* ----- COUNTER ----- */
#levelCounter {
    font-family: var(--fontQuantico);
    color: rgba(var(--red), 1);
    position: absolute;
    top: calc(50% - 2vw);
    left: calc(50% - 3.5vw);
    font-size: 5vw;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(var(--red), 1);
}

#levelCounter.win {
    font-size: 5vw;
    top: calc(50% - 2.5vw);
    left: calc(50% - 5.5vw);
}

/* ----- MEDIA QUERIES ----- */
@media (min-width: 700px) {
    :root {--size: 90vh;}
    #simon::after {font-size: 3em;}
    #memoryGame::after {content: "- MEMORY GAME -"; font-size: 1em; letter-spacing: 4px; top: 65%;}
    #greenButton::before, #redButton::before, #blueButton::before, #yellowButton::before {font-size: 4em;}
    .slider.round {width: 50px;}
    .powerButton {height: calc(var(--size) / 16); margin: 0 calc((var(--size) / 2.75) - 50px); bottom: 22.5%;}
    #levelCounter {font-size: 2.5em; top: calc(50% - 20px); left: calc(50% - 26px);}
    #levelCounter.on {font-size: 2.5em; top: calc(50% - 20px); left: calc(50% - 30px);}
    #levelCounter.win {font-size: 2em; top: calc(50% - 15px); left: calc(50% - 35px);}
}
